@charset "utf-8";

/* easings */
/* easings */
/* mediaqueries */


@media (max-width: 767px) {
  .pull-left-sm {
    float: left;
  }
  .pull-right-sm {
    float: right;
  }
  .text-left-sm {
    text-align: left;
  }
  .text-right-sm {
    text-align: right;
  }
  .text-center-sm {
    text-align: center;
  }
}
@media (min-width : 768px) and (max-width: 1023px) {
  .pull-left-md {
    float: left;
  }
  .pull-right-md {
    float: right;
  }
  .text-left-md {
    text-align: left;
  }
  .text-right-md {
    text-align: right;
  }
  .text-center-md {
    text-align: center;
  }
}
@media (min-width : 1024px) {
  .pull-left-lg {
    float: left;
  }
  .pull-right-lg {
    float: right;
  }
  .text-left-lg {
    text-align: left;
  }
  .text-right-lg {
    text-align: right;
  }
  .text-center-lg {
    text-align: center;
  }
}
body,
p,
h1,
h2,
h3,
h4,
h5,
h6,
input,
textarea,
select,
table,
th,
td {
 
}
/* grid system */
/* 컨텐트 하단 여백 */
.bottom-spacer {
  clear: both;
  margin-top: 100px;
  margin-bottom: -1px;
  height: 1px;
  overflow: hidden;
}
.section-title {
  margin-top: 25px;
}
.section-title h2 {
  margin: 0;
  font-size: 26px;
  font-weight: 400;
  color: #0e1012;
  line-height: 1.38;
}
.section-title p {
  margin: 5px 0 0;
  color: #868e96;
}
.has-core-line {
  position: relative;
  padding-top: 1px;
}
.has-core-line::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: -30px;
  height: 1px;
  background-color: #444b52;
}
.has-core-line.light::before {
  background-color: #e9ecef;
}
.has-core-line.is-bottom::before {
  top: 100%;
  margin-top: -1px;
}
.section-form {
  margin-top: 50px;
}
.section-form .items {
  margin-top: 40px;
}
.section-form .items:first-child {
  margin-top: 0;
}
.section-form .item {
  position: relative;
  margin-top: 20px;
}
.section-form .item:first-child {
  margin-top: 0;
}
.section-form .item .text,
.section-form .item .select {
  padding-left: 100px;
}
.section-form .item .subject {
  position: absolute;
  z-index: 1;
  top: 7px;
  left: 0;
  color: #212529;
}
.section-form .item.none {
  margin-top: 10px;
}
.section-form .item.none .subject {
  position: relative;
  top: auto;
  left: auto;
  display: block;
  padding-top: 15px;
}
.section-form .item.none .select,
.section-form .item.none .text {
  padding-left: 0;
}
.section-form .item.none:first-child {
  margin-top: 0;
}
.section-form .item p {
  color: #212529;
}
.section-form .item p:first-child {
  margin-top: 0;
}
.section-form .choose .item {
  margin-top: 35px;
  padding-left: 80px;
}
.section-form .choose .checks {
  margin: 0;
}
.section-form .choose label {
  min-width: 65px;
}
.section-form .choose .subject {
  top: 0;
}
.section-form .choose .guide {
  margin: 15px 0 0;
  font-size: 12px;
  color: #868e96;
}
.section-form .title {
  margin-top: 40px;
  position: relative;
  color: #212529;
}
.section-form .title h3 {
  margin: 0;
  font-size: 16px;
  font-weight: bold;
  color: #212529;
}
.section-form .title a {
  position: absolute;
  bottom: 0;
  right: 0;
}
.section-form .action {
  margin-top: 20px;
  text-align: right;
}
.modal-container .md-modal-head {
  text-align: right;
}
.modal-container .md-modal-head .close .icon {
  position: relative;
  width: 56px;
  height: 56px;
  text-align: center;
}
.modal-container .md-modal-head .close .icon::before,
.modal-container .md-modal-head .close .icon::after {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -10px 0 -1px;
  width: 2px;
  height: 20px;
  background-color: #2e3338;
  border-radius: 2px;
}
.modal-container .md-modal-head .close .icon::before {
  transform: rotate(-45deg);
}
.modal-container .md-modal-head .close .icon::after {
  transform: rotate(45deg);
}
.modal-container .md-modal-body {
  overflow: hidden;
  overflow-y: auto;
  height: calc(100vh - 116px);
  box-sizing: border-box;
  -webkit-overflow-scrolling: touch;
}
.modal-container .md-modal-body::after {
  content: '';
  display: block;
  height: 100px;
}
.modal-container .md-modal-foot {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #fff;
}
@media only screen and (min-device-width: 375px) and (min-device-height: 812px) and (-webkit-min-device-pixel-ratio: 2) {
  .modal-container .md-modal-body {
    padding-bottom: env(safe-area-inset-bottom);
    padding-bottom: constant(safe-area-inset-bottom);
  }
  .modal-container .md-modal-foot {
    padding-bottom: env(safe-area-inset-bottom);
    padding-bottom: constant(safe-area-inset-bottom);
  }
}
.modal-title {
  margin: 0 0 40px 0;
}
.modal-title .title {
  margin: 0;
  font-size: 26px;
  color: #0e1012;
  font-weight: 400;
  line-height: 1.38;
}
.modal-title p {
  margin: 5px 0 0;
  color: #868e96;
  line-height: 1.4;
}
.md-modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  line-height: 1;
  background-color: #fff;
  overflow: hidden;
}
.md-modal-wrapper {
  display: table;
  width: 100%;
  min-height: 100%;
  height: 100vh;
}
.md-modal-holder {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
}
.md-modal-relative {
  display: inline-block;
  position: relative;
  margin: 0 auto;
  background-color: #fff;
}
.md-modal-inner {
  display: inline-block;
  box-sizing: border-box;
  vertical-align: middle;
  margin: 0 auto;
  min-width: 300px;
  overflow: auto;
  overflow-x: hidden;
}
.md-modal-inner .js-modal-close .icon {
  content: '';
  background-image: url('../img//temp/modal_close.png');
  width: 30px;
  height: 30px;
  background-size: 30px 30px;
  position: absolute;
  top: 0;
  right: 0;
  margin-right: -30px;
}
.modal-container-mini {
  display: none;
}
.modal-container-mini .md-modal-module-mini {
  margin: 0 25px;
}
.modal-container-mini .md-modal-mini {
  background-color: #fff;
  border-radius: 8px;
  position: fixed;
  top: 50%;
  left: 50%;
  width: 280px;
  overflow: hidden;
  visibility: hidden;
  z-index: -1;
  opacity: 0;
  transform: translate(-50%, calc(-50% + 50px));
  transition: visibility 0s linear 0.4s, z-index 0s linear 0.4s, opacity 0.4s cubic-bezier(0.645, 0.045, 0.355, 1) 0s, transform 0.4s cubic-bezier(0.645, 0.045, 0.355, 1) 0s;
}
.modal-container-mini.in {
  display: block;
}
.modal-container-mini.anim .md-modal-mini {
  visibility: visible;
  z-index: 1100;
  opacity: 1;
  transform: translate(-50%, -50%);
  transition: visibility 0s linear 0s, z-index 0s linear 0s, opacity 0.4s cubic-bezier(0.645, 0.045, 0.355, 1) 0s, transform 0.4s cubic-bezier(0.645, 0.045, 0.355, 1) 0s;
}
/* text ================================================================== */
.no-font-smooth {
  -webkit-font-smoothing: none;
  font-smooth: never;
}
div.primary,
span.primary,
strong.primary,
em.primary,
table.primary,
ul.primary,
p.primary,
small.primary,
a.primary {
  color: #48acff;
}
div.secondary,
span.secondary,
strong.secondary,
em.secondary,
table.secondary,
ul.secondary,
p.secondary,
small.secondary,
a.secondary {
  color: #0e1012;
}
div.warning,
span.warning,
strong.warning,
em.warning,
table.warning,
ul.warning,
p.warning,
small.warning,
a.warning {
  color: #cc0000;
}
div.info,
span.info,
strong.info,
em.info,
table.info,
ul.info,
p.info,
small.info,
a.info {
  color: #868e96;
}
div.danger,
span.danger,
strong.danger,
em.danger,
table.danger,
ul.danger,
p.danger,
small.danger,
a.danger {
  color: #ff3c3c;
}
div.small,
span.small,
strong.small,
em.small,
table.small,
ul.small,
p.small,
small.small,
a.small {
  font-size: 12px;
}

a.link-has-line {
  display: inline-block;
  font-weight: bold;
  color: #444b52;
  background-color: #fff;
}
a.link-has-line span {
  display: block;
  padding: 5px 0;
  border-bottom: 1px #636b73 solid;
}
a.link-has-line.absolute {
  position: absolute;
  bottom: 0;
  right: 0;
  padding-left: 15px;
}
a.link-has-line.absolute span {
  padding: 10px 5px;
}
input,
input:before,
input:after {
  -webkit-user-select: initial;
  -ms-user-select: initial;
  user-select: initial;
}
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-transition: background-color 5000s ease-in-out 0s;
  transition: background-color 5000s ease-in-out 0s;
  -webkit-transition: background-color 9999s ease-out;
  -webkit-box-shadow: 0 0 0px 1000px white inset !important;
}
input,
select,
optgroup,
textarea {
  border: solid 1px #ccc;
  color: #666;
}
input.disabled,
select.disabled,
optgroup.disabled,
textarea.disabled {
  background-color: #999;
  color: #999;
}
select:focus,
input[type="text"]:focus,
input[type="password"]:focus,
input[type="email"]:focus,
textarea:focus {
  outline: none;
}
textarea {
  padding-top: 20px;
  padding-bottom: 20px;
  min-height: 70px;
}



input.text::placeholder,
input[type="date"]::placeholder,
input[type="number"]::placeholder,
input[type="password"]::placeholder,
input[type="search"]::placeholder,
input[type="tel"]::placeholder,
input[type="text"]::placeholder,
select::placeholder,
textarea::placeholder {
  
}
input.text.file,
input[type="date"].file,
input[type="number"].file,
input[type="password"].file,
input[type="search"].file,
input[type="tel"].file,
input[type="text"].file,
select.file,
textarea.file,
input.text[type="file"],
input[type="date"][type="file"],
input[type="number"][type="file"],
input[type="password"][type="file"],
input[type="search"][type="file"],
input[type="tel"][type="file"],
input[type="text"][type="file"],
select[type="file"],
textarea[type="file"] {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
  height: auto;
  line-height: inherit;
  vertical-align: middle;
}
select {
  box-sizing: border-box;
  text-align: left;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  border-radius: 0;
  background-image: url('../img//common/icon_select.png');
  background-size: 24px 24px;
  background-position: right center;
}
select[multiple="multiple"] {
  height: auto;
}
select:not(:focus):invalid {
  color: #adb5bd;
}
select.spinner {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  background-position: right 60%;
  background-image: url('../img//common/icon_spinner.png');
  background-size: 24px 24px;
}
textarea.textarea {
  padding: 5px;
  min-height: 200px;
}
span.checks {
  display: inline-block;
  margin-right: 25px;
}
span.checks:last-child {
  margin: 0;
}
.checks {
  position: relative;
  text-align: left;
}
.checks label {
  box-sizing: border-box;
  cursor: default;
  -webkit-user-select: none;
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
  -webkit-tap-highlight-color: transparent;
}
.checks input[type="radio"],
.checks input[type="checkbox"] {
  box-sizing: content-box;
  position: absolute;
  display: inline-block;
  overflow: hidden;
  word-break: keep-all;
  white-space: nowrap;
  clip: rect(0 0 0 0);
  font-family: a;
  padding: 0;
  border: 0;
  width: 1px;
  height: 1px;
  margin: -1px 0 0 -1px;
  color: transparent;
}
.checks input[type="radio"] + label,
.checks input[type="checkbox"] + label {
  display: block;
}
.checks input[type="radio"] + label {
  padding-left: 25px;
  color: #adb5bd;
  height: 20px;
  line-height: 20px;
}
.checks input[type="radio"] + label::before {
  content: '';
  position: absolute;
  top: 50%;
  left: 0;
  display: block;
  width: 20px;
  height: 20px;
  margin-top: -11px;
  border: 1px solid #ced4da;
  border-radius: 100%;
  box-sizing: border-box;
}
.checks input[type="radio"] + label::after {
  display: none;
  content: '';
  position: absolute;
  top: 50%;
  left: 4px;
  margin-top: -7px;
  width: 12px;
  height: 12px;
  background-color: #636b73;
  border-radius: 100%;
}
.checks input[type="radio"]:checked + label {
  color: #636b73;
}
.checks input[type="radio"]:checked + label::before {
  border-color: #636b73;
}
.checks input[type="radio"]:checked + label::after {
  display: block;
}
.checks input[type="checkbox"] + label {
  padding-left: 32px;
}
.checks input[type="checkbox"] + label::before {
  content: '';
  position: absolute;
  top: 50%;
  left: 0;
  display: block;
  width: 24px;
  height: 24px;
  margin-top: -12px;
  border: 1px solid #ced4da;
  border-radius: 100%;
  box-sizing: border-box;
}
.checks input[type="checkbox"] + label::after {
  position: absolute;
  top: 50%;
  left: 0;
  display: block;
  margin-top: -12px;
  content: '';
  background-image: url('../img//common/icon_checkbox_off.png');
  width: 24px;
  height: 24px;
  background-size: 24px 24px;
}
.checks input[type="checkbox"]:checked + label::before {
  background-color: #ffeb00;
  border-color: transparent;
}
.checks input[type="checkbox"]:checked + label::after {
  background-image: url('../img//common/icon_checkbox_on.png');
}
.datepicker {
  position: relative;
}
.datepicker .ui-datepicker-trigger {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding: 0;
  cursor: pointer;
  border: 0;
  text-align: right;
  background-color: transparent;
  outline: none;
}
.datepicker .icon {
  content: '';
  background-image: url('../img//common/icon_calendar.png');
  width: 36px;
  height: 36px;
  background-size: 36px 36px;
}
.ui-datepicker {
  position: fixed;
  top: auto;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
  transform: translate(0, 100%);
  background-color: #fff;
  border-radius: 20px 20px 0 0;
  text-align: center;
  padding: 0 20px 25px 20px;
  box-sizing: border-box;
  min-height: 400px;
  opacity: 0;
  transition: visibility 0s linear 0.4s, z-index 0s linear 0.4s, opacity 0.4s cubic-bezier(0.645, 0.045, 0.355, 1) 0s, transform 0.4s cubic-bezier(0.645, 0.045, 0.355, 1) 0s;
  border-top: 1px solid #999;
}
@media only screen and (min-device-width: 375px) and (min-device-height: 812px) and (-webkit-min-device-pixel-ratio: 2) {
  .ui-datepicker {
    padding-bottom: calc(25px + env(safe-area-inset-bottom));
    padding-bottom: calc(25px + constant(safe-area-inset-bottom));
    min-height: calc(465px + env(safe-area-inset-bottom));
    min-height: calc(465px + constant(safe-area-inset-bottom));
  }
}
.ui-datepicker.in {
  z-index: 1100;
  opacity: 1;
  transform: translate(0, 0);
  transition: visibility 0s linear 0s, z-index 0s linear 0s, opacity 0.4s cubic-bezier(0.645, 0.045, 0.355, 1) 0.2s, transform 0.4s cubic-bezier(0.645, 0.045, 0.355, 1) 0.2s;
}
.ui-datepicker .ui-datepicker-header {
  position: relative;
  padding: 20px 0;
  line-height: 0;
}
.ui-datepicker .ui-datepicker-prev {
  position: absolute;
  top: 30px;
  left: -20px;
  cursor: pointer;
}
.ui-datepicker .ui-datepicker-prev .icon {
  content: '';
  background-image: url('../img/ic-l.svg');
  width: 64px;
  height: 64px;
  background-size: 64px 64px;
}
.ui-datepicker .ui-datepicker-next {
  position: absolute;
  top: 30px;
  right: -20px;
  cursor: pointer;
}
.ui-datepicker .ui-datepicker-next .icon {
  content: '';
  background-image: url('../img/ic-r.svg');
  width: 64px;
  height: 64px;
  background-size: 64px 64px;
}
.ui-datepicker .ui-datepicker-year {
  display: block;
  font-size: 12px;
  font-weight: bold;
  color: #0e1012;
  line-height: 1.4;
}
.ui-datepicker .ui-datepicker-month {
  display: block;
  font-size: 28px;
  font-weight: bold;
  color: #000;
  line-height: 1.4;
}
.ui-datepicker .ui-datepicker-calendar th {
  padding-bottom: 13px;
  color: #868e96;
  font-weight: 400;
  font-size: 12px;
}
.ui-datepicker .ui-datepicker-calendar td,
.ui-datepicker .ui-datepicker-calendar td a {
  color: #000;
}
.ui-datepicker .ui-datepicker-calendar td > span {
  display: block;
}
.ui-datepicker .ui-datepicker-calendar td > span a,
.ui-datepicker .ui-datepicker-calendar td > span span {
  display: block;
  padding: 13px 0;font-size: 13px;
}
.ui-datepicker .ui-datepicker-calendar td > span span {
  opacity: 0.5;
}
.ui-datepicker .ui-datepicker-calendar td.ui-datepicker-today > span {
  position: relative;
  color: #212529;
}
.ui-datepicker .ui-datepicker-calendar td.ui-datepicker-today > span::before {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 34px;
  height: 34px;
  background-color: #d7e9ff;
  border-radius: 100%;
}
.ui-datepicker .ui-datepicker-calendar td.ui-datepicker-today > span a,
.ui-datepicker .ui-datepicker-calendar td.ui-datepicker-today > span span {
  position: relative;
}
.ui-datepicker .ui-datepicker-calendar th:first-child,
.ui-datepicker .ui-datepicker-calendar td:first-child,
.ui-datepicker .ui-datepicker-calendar th:first-child a,
.ui-datepicker .ui-datepicker-calendar td:first-child a {
  color: #ff3c3c;
}
.ui-datepicker .ui-datepicker-calendar th:last-child,
.ui-datepicker .ui-datepicker-calendar td:last-child,
.ui-datepicker .ui-datepicker-calendar th:last-child a,
.ui-datepicker .ui-datepicker-calendar td:last-child a {
  color: #48acff;
}
.button {
  border: solid 1px #ced4da;
}
.button,
.button span {
  color: #212529;
}
.button.primary {
  background-color: #ffeb00;
  border-color: #ffeb00;
}
.button.primary,
.button.primary span {
  color: #0e1012;
  font-weight: bold;
}
.button.secondary {
  background-color: #3f424a;
  border-color: #3f424a;
}
.button.secondary,
.button.secondary span {
  color: #fff;
}
.button.info {
  background-color: #636b73;
  border-color: #636b73;
}
.button.info,
.button.info span {
  color: #fff;
}
.button.disabled {
  opacity: 1;
  background-color: #f1f3f5;
  border-color: #e9ecef;
}
.button.disabled,
.button.disabled span {
  color: #adb5bd;
}
.button.disabled.large {
  border-color: #f1f3f5;
}
.button {
  box-sizing: content-box;
  position: relative;
  padding: 0 20px;
  width: 100%;
  height: 55px;
  line-height: 55px;
  font-style: normal;
  font-size: 17px;
  font-weight: 400;
  box-sizing: border-box;
  border-radius: 5px;
}
.button:hover {
  text-decoration: none;
}
.button.large {
  height: 60px;
  line-height: 60px;
  font-size: 17px;
  border-radius: 0;
}
.section-button {
  margin-top: 30px;
}
span.pipe {
  position: relative;
}
span.pipe em {
  box-sizing: content-box;
  position: absolute;
  display: inline-block;
  overflow: hidden;
  word-break: keep-all;
  white-space: nowrap;
  clip: rect(0 0 0 0);
  font-family: a;
  padding: 0;
  border: 0;
  width: 1px;
  height: 1px;
  margin: -1px 0 0 -1px;
  color: transparent;
}
span.pipe::before {
  content: '';
  display: block;
  position: absolute;
  top: 50%;
  left: 0;
  overflow: hidden;
  width: 1px;
}
.label {
  display: inline-block;
  padding: 0 10px;
  font-size: 12px;
  height: 20px;
  line-height: 20px;
  border-radius: 10px;
}
.label.company {
  color: #868e96;
  background-color: #f1f3f5;
}
.label.relationship {
  color: #48acff;
  background-color: rgba(72, 172, 255, 0.15);
}
table.table-col,
table.table-row {
  width: 100%;
}
table.table-col th,
table.table-row th,
table.table-col td,
table.table-row td {
  line-height: 1.4;
}
table.table-col th,
table.table-row th {
  vertical-align: top;
}
table.table-col th label,
table.table-row th label,
table.table-col th span,
table.table-row th span {
  
}
table.table-row th,
table.table-row td {
  text-align: left;
}
table.table-row th label,
table.table-row th span {
  display: inline-block;
}
table.table-col th,
table.table-col td {
  text-align: center;
}
table.text-center th,
table.text-center td {
  text-align: center;
}
table.text-left th,
table.text-left td {
  text-align: left;
}
table.table-a {
  border-top: 1px #ced4da solid;
}
table.table-a th,
table.table-a td {
  padding: 10px 0;
  font-size: 13px;
  border-left: 1px #ced4da solid;
  border-bottom: 1px #ced4da solid;
}
table.table-a th:first-child,
table.table-a td:first-child {
  border-left: 0;
}
table.table-a th,
table.table-a td,
table.table-a th p,
table.table-a td p {
  color: #444b52;
}
table.table-a th p,
table.table-a td p {
  margin: 10px 0 0;
}
table.table-a th p:first-child,
table.table-a td p:first-child {
  margin: 0;
}
table.table-a th.has-line,
table.table-a td.has-line {
  border-left: 1px #ced4da solid;
}
table.table-a thead th {
  color: #212529;
  text-align: center;
  background-color: #f1f3f5;
  vertical-align: middle;
}
table.table-a tbody th {
  color: #212529;
  text-align: center;
  vertical-align: middle;
  background-color: #f8f9fa;
}
table.table-a tfoot th,
table.table-a tfoot td {
  color: #212529;
  background-color: #f8f9fa;
}
table.table-a .text-left {
  padding-left: 10px;
}
table.table-a .text-right {
  padding-right: 10px;
}
table.table-a.table-row tbody tr:first-child th,
table.table-a.table-row tbody tr:first-child td {
  border-top: 0;
}
table.table-a.table-row th {
  padding-left: 10px;
  text-align: left;
  background-color: #f1f3f5;
}
table.table-a.table-row td {
  padding-left: 10px;
  text-align: left;
}
ol.list,
ul.list {
  margin: 0;
  padding: 0;
  line-height: 1.6;
}
ol.list li,
ul.list li {
  position: relative;
  margin: 0;
  padding: 0;
}
ol.list li::before,
ul.list li::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
}
ul.list-a li {
  padding-left: 14px;
}
ul.list-a li::before {
  content: '-';
}
html,
body {
  background-color: #fff;
}
body {
  width: 100%;
}
.container {
  max-width: 100%;
  max-width: 100vw;
}
.wrap {
  min-width: 260px;
  margin-left: 30px;
  margin-right: 30px;
  box-sizing: border-box;
}
.wrap.is-full {
  margin-left: 0;
  margin-right: 0;
}
#container {
  min-height: 100%;
  min-height: 100vh;
}
#content {
  width: 100%;
}
/* 하단 여백, 배경색 */
#header {
  position: fixed;
  z-index: 10;
  top: 0;
  left: 0;
  right: 0;
  background-color: #fff;
}
#header .back .icon {
  content: '';
  background-image: url('../img//common/icon_back.png');
  width: 60px;
  height: 60px;
  background-size: 60px 60px;
}
#header .utill {
  position: absolute;
  top: 0;
  right: 12px;
}
#header .utill a {
  margin: 0 -1px;
}
#header .utill .setup .icon {
  content: '';
  background-image: url('../img//common/icon_setup.png');
  width: 36px;
  height: 60px;
  background-size: 36px 60px;
}
#header .utill .home .icon {
  content: '';
  background-image: url('../img//common/icon_home.png');
  width: 36px;
  height: 60px;
  background-size: 36px 60px;
}
#wrapper {
  margin-top: 60px;
}
#footer {
  position: fixed;
  z-index: 10;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #fff;
}
#footer .button {
  border-radius: 0;
  padding: 0;
  width: 100%;
}
@media only screen and (min-device-width: 375px) and (min-device-height: 812px) and (-webkit-min-device-pixel-ratio: 2) {
  #wrapper {
    padding-bottom: env(safe-area-inset-bottom);
    padding-bottom: constant(safe-area-inset-bottom);
  }
  #footer {
    padding-bottom: env(safe-area-inset-bottom);
    padding-bottom: constant(safe-area-inset-bottom);
  }
}
.ui-mobile [data-role=page],
.ui-page {
  position: static !important;
}
.md-modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  line-height: 1;
  background-color: #fff;
  overflow: hidden;
}
.md-modal-wrapper {
  display: table;
  width: 100%;
  min-height: 100%;
  height: 100vh;
}
.md-modal-holder {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
}
.md-modal-relative {
  display: inline-block;
  position: relative;
  margin: 0 auto;
  background-color: #fff;
}
.md-modal-inner {
  display: inline-block;
  box-sizing: border-box;
  vertical-align: middle;
  margin: 0 auto;
  min-width: 300px;
  overflow: auto;
  overflow-x: hidden;
}
.md-modal-inner .js-modal-close .icon {
  content: '';
  background-image: url('../img//temp/modal_close.png');
  width: 30px;
  height: 30px;
  background-size: 30px 30px;
  position: absolute;
  top: 0;
  right: 0;
  margin-right: -30px;
}
.modal-container {
  display: none;
}
.modal-container .outer-close {
  display: block;
  position: fixed;
  z-index: 3000;
  margin: 30px 35px;
  top: 0;
  right: 0;
}
.modal-container .outer-close .icon {
  content: '';
  background-image: url('../img//modal/ico_close.png');
  width: 50px;
  height: 50px;
  background-size: 50px 50px;
}
.modal-container .inner-close {
  display: block;
  position: absolute;
  z-index: 3000;
  margin: 0 -54px 0 0;
  top: 0;
  right: 0;
}
.modal-container .inner-close .icon {
  content: '';
  background-image: url('../img//modal/ico_close_inner.png');
  width: 34px;
  height: 34px;
  background-size: 34px 34px;
}
.modal-container .md-modal {
  visibility: hidden;
  z-index: -1;
  opacity: 0;
  transform: translate(100%, 0);
  transition: visibility 0s linear 0.4s, z-index 0s linear 0.4s, opacity 0.4s cubic-bezier(0.645, 0.045, 0.355, 1) 0s, transform 0.4s cubic-bezier(0.645, 0.045, 0.355, 1) 0s;
}
.modal-container.in {
  display: block;
}
.modal-container.anim .md-modal {
  visibility: visible;
  z-index: 1100;
  opacity: 1;
  transform: translate(0, 0);
  transition: visibility 0s linear 0s, z-index 0s linear 0s, opacity 0.4s cubic-bezier(0.645, 0.045, 0.355, 1) 0s, transform 0.4s cubic-bezier(0.645, 0.045, 0.355, 1) 0s;
}
.modal-container.is-modal-content .md-modal {
  transform: translate(0, -300px);
}
.modal-container.is-modal-content.anim .md-modal {
  transform: translate(0, 0);
}
.suit-classic.is-modal-fullsize #container {
  height: 100%;
  height: 100vh;
  overflow: hidden;
  transition: all 0s linear 0s;
}
.md-modal-module {
  overflow: hidden;
}
.md-overlay {
  background-color: rgba(0, 0, 0, 0.7);
  transition: transform 300ms linear 300ms, opacity 300ms linear 300ms, visibility 0s linear 0.4s, z-index 0s linear 0.4s;
}
.is-overlay .md-overlay {
  z-index: 100;
  transition: transform 300ms linear 0s, opacity 300ms linear 0s, visibility 0s linear 0s, z-index 0s linear 0;
}
.md-overlay {
  visibility: hidden;
  position: fixed;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  opacity: 0;
}
.is-overlay .md-overlay {
  visibility: visible;
  opacity: 1;
  cursor: pointer;
}
/*  epass indicator ====================================================== */
.md-indicator > span {
  display: block;
  margin: 0 auto;
  background: transparent;
  animation: load8 0.6s infinite linear;
  transition: background-color 0.2s ease-in-out 0s;
}
.md-indicator {
  display: none;
  position: fixed;
  top: 50%;
  right: 50%;
  width: 300px;
  margin-top: -34px;
  margin-right: -156px;
  text-align: center;
  visibility: visible;
  z-index: -1;
  transform: scale(0.9);
  opacity: 0;
  transition: z-index 0s linear 0.4s, visibility 0s linear 0s, opacity 0.4s linear 0s, transform 0.4s ease-in-out 0s;
}
.md-indicator > span {
  position: relative;
  text-indent: -9999em;
  font-size: 10px;
}
.is-indicator .md-indicator {
  z-index: 1000;
  opacity: 1;
  transform: scale(1);
  transition: z-index 0s linear 0s, visibility 0s linear 0s, opacity 0.4s linear 0s, transform 0.4s ease-in-out 0s;
}
.is-indicator .md-indicator > span {
  border: 7px solid #ffffff;
  border-left: 7px solid rgba(255, 255, 255, 0.2);
}
.is-indicator-short .md-indicator {
  z-index: 1000;
  opacity: 1;
  transform: scale(1);
  transition: z-index 0s linear 0s, visibility 0s linear 0s, opacity 0.2s linear 0s, transform 0.2s ease-in-out 0s;
}
.is-indicator-short .md-indicator > span {
  border: 7px solid rgba(0, 0, 0, 0.2);
  border-left: 7px solid #000000;
}
.no-ie.is-indicator .md-indicator::before {
  color: #fff;
}
.no-ie.is-indicator-short .md-indicator::before {
  color: #000;
}
.no-ie .md-indicator::before {
  content: 'loading';
  content: var(--site-name);
  font-size: 12px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
}
.md-indicator > span {
  display: none;
}
.md-indicator > span:first-child {
  display: block;
}
.md-indicator > span,
.md-indicator > span:after {
  width: 74px;
  height: 74px;
  border-radius: 100%;
}
@keyframes load8 {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.section-login .wrap {
  padding-left: 40px;
  padding-right: 40px;
}
.section-login h2 {
  margin: 0;
  text-align: center;
}
.section-login .icon.logo {
  content: '';
  background-image: url('../img//custom/icon_login_logo.png');
  width: 224px;
  height: 41px;
  background-size: 224px 41px;
}
.section-login .form {
  margin-top: 45px;
}
.section-login .form p {
  position: relative;
  margin: 20px 0 0;
}
.section-login .form p:first-child {
  margin-top: 0;
}
.section-login .form p .text {
  font-size: 16px;
  border-bottom: 2px #0e1012 solid;
}
.section-login .checks {
  position: absolute;
  top: 50%;
  right: 0;
  margin-top: -8px;
  font-size: 12px;
  color: #212529;
}
.section-login .checks input[type="checkbox"] + label {
  padding-left: 20px;
}
.section-login .checks input[type="checkbox"] + label::before {
  display: none;
}
.section-login .checks input[type="checkbox"] + label::after {
  margin-top: -8px;
  content: '';
  background-image: url('../img//custom/icon_login_check.png');
  width: 16px;
  height: 16px;
  background-size: 16px 16px;
}
.section-login .checks input[type="checkbox"]:checked + label::after {
  background-image: url('../img//custom/icon_login_check_on.png');
}
.section-login .guide {
  margin: 10px 0 0;
  font-size: 12px;
  color: #868e96;
  line-height: 1.5;
}
.section-login .action {
  margin-top: 20px;
}
.section-login .action .button {
  font-weight: bold;
}
.section-login .utill {
  margin-top: 50px;
}
.section-login .utill p {
  margin: 15px 0 0;
  font-size: 12px;
}
.section-login .utill p:first-child {
  margin-top: 0;
}
.section-login .utill a {
  color: #868e96;
}
.section-login .copyright {
  margin-top: 20px;
  border-top: 1px #e9ecef solid;
}
.section-login .copyright .logo {
  padding: 20px 0 25px 0;
}
.section-login .copyright .logo .icon {
  content: '';
  background-image: url('../img//custom/icon_login_inbyu.png');
  width: 110px;
  height: 14px;
  background-size: 110px 14px;
}
.section-login .copyright .copy {
  text-align: right;
  font-size: 11px;
  color: #868e96;
}
@media (min-height: 510px) {
  .section-login .holder {
    height: calc(100vh - 125px);
    display: flex;
    justify-content: center;
    flex-direction: column;
    box-sizing: border-box;
  }
  .section-login .copyright {
    margin-top: 0;
  }
}
@media only screen and (min-device-width: 375px) and (min-device-height: 812px) and (-webkit-min-device-pixel-ratio: 2) {
  .section-login {
    padding-bottom: env(safe-area-inset-bottom);
    padding-bottom: constant(safe-area-inset-bottom);
  }
  .section-login .holder {
    height: calc(100vh - 125px - env(safe-area-inset-bottom));
    height: calc(100vh - 125px - constant(safe-area-inset-bottom));
  }
}
.section-registration-gate {
  margin-top: 30px;
}
.section-registration-gate .icon.logo {
  content: '';
  background-image: url('../img//custom/icon_user_registration.png');
  width: 212px;
  height: 39px;
  background-size: 212px 39px;
}
.section-registration-gate h2 {
  margin: 15px 0 0;
  font-size: 32px;
  color: #0e1012;
  font-weight: 400;
}
.section-registration-gate p {
  margin: 10px 0 0;
  color: #868e96;
}
.section-registration-gate ul {
  margin-top: 50px;
}
.section-registration-gate ul li {
  margin-top: 15px;
}
.section-registration-gate ul li:first-child {
  margin-top: 0;
}
.section-registration-gate ul a {
  position: relative;
  display: block;
  padding-left: 20px;
  height: 78px;
  line-height: 78px;
  font-size: 17px;
  color: #444b52;
  border-radius: 5px;
  border: solid 1px #f1f3f5;
  background-color: #f8f9fa;
}
.section-registration-gate ul .icon {
  position: absolute;
  top: 50%;
  right: 23px;
  transform: translate(0, -50%);
}
.section-registration-gate ul .icon.phone {
  content: '';
  background-image: url('../img//custom/icon_phone.png');
  width: 34px;
  height: 34px;
  background-size: 34px 34px;
}
.section-registration-gate ul .icon.mail {
  content: '';
  background-image: url('../img//custom/icon_mail.png');
  width: 36px;
  height: 25px;
  background-size: 36px 25px;
}
.section-registration-gate ul .icon.shoot {
  content: '';
  background-image: url('../img//custom/icon_shoot.png');
  width: 28px;
  height: 37px;
  background-size: 28px 37px;
}
.section-registration-gate ul .icon.gallery {
  content: '';
  background-image: url('../img//custom/icon_gallery.png');
  width: 34px;
  height: 35px;
  background-size: 34px 35px;
}
.section-certified {
  margin-top: 50px;
}
.section-certified p {
  position: relative;
  margin: 20px 0 0;
}
.section-certified p:first-child {
  margin-top: 0;
}
.section-certified .text {
  padding-left: 100px;
}
.section-certified .subject {
  position: absolute;
  top: 50%;
  left: 0;
  color: #212529;
  transform: translate(0, -60%);
}
.section-certified .time {
  position: absolute;
  top: 50%;
  right: 65px;
  color: #ff3c3c;
  font-size: 12px;
  transform: translate(0, -50%);
}
.section-certified .number {
  display: none;
}
.section-certified .number.in {
  display: block;
}
.section-certified .action {
  margin-top: 30px;
}
.section-certified .action.in {
  display: none;
}
.section-registration {
  margin-top: 40px;
}
.section-registration .core p {
  margin: 12px 0 0;
  font-size: 16px;
  color: #212529;
}
.section-registration .form {
  margin-top: 15px;
  padding-top: 32px;
}
.section-registration .form p {
  position: relative;
  margin: 22px 0 0;
}
.section-registration .form p:first-child {
  margin-top: 0;
}
.section-registration .form .text {
  padding-left: 100px;
}
.section-registration .form .subject {
  position: absolute;
  top: 50%;
  left: 0;
  color: #212529;
  transform: translate(0, -60%);
}
.section-registration .form .message {
  margin: 5px 0 0;
  color: #ff3c3c;
  font-size: 12px;
  line-height: 1.83;
}
.section-registration .guide {
  margin-top: 30px;
  font-size: 12px;
  line-height: 1.83;
}
.section-registration .guide li {
  position: relative;
  padding-left: 20px;
}
.section-registration .guide li::before {
  position: absolute;
  top: 7px;
  left: 0;
  content: '';
  background-image: url('../img//custom/icon_registration_guide.png');
  width: 10px;
  height: 7px;
  background-size: 10px 7px;
}
.section-registration .guide li.in {
  color: #adb5bd;
}
.section-registration .guide li.in::before {
  background-image: url('../img//custom/icon_registration_guide_in.png');
}
.section-find-result {
  margin-top: 30px;
}
.section-find-result .core {
  font-size: 26px;
  color: #212529;
  line-height: 1.38;
}
.section-find-result .desc {
  margin-top: 40px;
  padding-top: 50px;
}
.section-find-result .desc p {
  margin: 0 0 10px 0;
  line-height: 1.57;
}
.section-user-my {
  margin-top: 30px;
  min-height: calc(100vh - 301px);
}
.section-user-my .core p {
  margin: 0 0 10px 0;
  font-size: 26px;
  color: #212529;
  line-height: 1.38;
}
.section-user-my .desc {
  margin-top: 30px;
}
.section-user-my .desc p {
  margin: 10px 0 0;
}
.section-user-my .desc p:first-child {
  margin-top: 0;
}
.section-user-my .desc .link-has-line {
  color: #212529;
  font-weight: 400;
}
.section-user-my .family {
  margin-top: 40px;
  padding-top: 50px;
}
.section-user-my .family .count {
  margin: 0;
}
.section-user-my .list {
  margin-top: 10px;
}
.section-user-my .list li {
  margin-top: 8px;
}
.section-user-my .list li:first-child {
  margin-top: 0;
}
.section-user-my .list a {
  position: relative;
  display: block;
  border-radius: 5px;
  border: solid 1px #f1f3f5;
  background-color: #f8f9fa;
}
.section-user-my .list a::before {
  content: '';
  position: absolute;
  top: 50%;
  right: 20px;
  margin: -3px 0 0 -3px;
  width: 6px;
  height: 6px;
  transform: rotate(45deg);
  border: solid 1px #989ea4;
  border-left-width: 0;
  border-bottom-width: 0;
}
.section-user-my .list .name {
  display: block;
  padding-left: 20px;
  font-size: 16px;
  color: #212529;
  height: 58px;
  line-height: 58px;
}
.section-user-my .list .relationship {
  position: absolute;
  top: 50%;
  right: 45px;
  color: #868e96;
  transform: translate(0, -50%);
}
.section-user-my .action {
  margin-top: 20px;
  font-size: 12px;
}
.section-user-my .action a {
  color: #868e96;
  font-weight: 400;
}
@media only screen and (min-device-width: 375px) and (min-device-height: 812px) and (-webkit-min-device-pixel-ratio: 2) {
  .section-user-my {
    height: calc(100vh - 301px - env(safe-area-inset-bottom));
    height: calc(100vh - 301px - constant(safe-area-inset-bottom));
  }
}
.section-customer {
  margin-top: 50px;
  margin-bottom: 60px;
  line-height: 1.8;
}
.section-customer .inner {
  padding: 20px 0 30px 0;
  border-top: 1px #e9ecef solid;
}
.section-customer p {
  margin: 0;
}
@media only screen and (min-device-width: 375px) and (min-device-height: 812px) and (-webkit-min-device-pixel-ratio: 2) {
  .section-customer {
    margin-bottom: calc(60px + env(safe-area-inset-bottom));
    margin-bottom: calc(60px + constant(safe-area-inset-bottom));
  }
}
.section-benefit {
  margin-top: 50px;
}
.section-benefit .wrap {
  position: relative;
  padding-top: 50px;
}
.section-benefit .wrap::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: -30px;
  height: 1px;
  background-color: #444b52;
}
.section-benefit .user {
  position: relative;
}
.section-benefit .name {
  font-size: 20px;
  color: #212529;
}
.section-benefit .label {
  position: absolute;
  bottom: 0;
  right: 0;
}
.section-benefit .items {
  position: relative;
  margin-top: 20px;
}
.section-benefit .items::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: -30px;
  height: 1px;
  margin-top: -1px;
  background-color: #e9ecef;
}
.section-benefit .item {
  position: relative;
}
.section-benefit .item::before,
.section-benefit .item::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 100%;
  height: 1px;
  margin-top: -1px;
  background-color: #444b52;
  opacity: 0;
  transition: all 0.3s;
}
.section-benefit .item::after {
  top: 100%;
}
.section-benefit .item .core h3 {
  margin: 0;
}
.section-benefit .item .core a {
  position: relative;
  display: block;
  padding: 20px 30px 20px 0;
  font-size: 16px;
  color: #212529;
  line-height: 1.5;
}
.section-benefit .item .core a::before {
  content: '';
  position: absolute;
  top: 50%;
  right: 10px;
  margin: -3px 0 0 -3px;
  width: 6px;
  height: 6px;
  transform: rotate(135deg);
  border: solid 1px #adb5bd;
  border-left-width: 0;
  border-bottom-width: 0;
}
.section-benefit .item .core a::after {
  content: '';
  position: absolute;
  top: 100%;
  left: 0;
  right: -30px;
  height: 1px;
  margin-top: -1px;
  background-color: #e9ecef;
}
.section-benefit .item .desc {
  display: none;
}
.section-benefit .item .desc .module {
  padding: 30px 0;
}
.section-benefit .item .desc h4 {
  margin: 20px 0 10px 0;
  font-size: 15px;
  font-weight: bold;
  color: #636b73;
}
.section-benefit .item .desc h4:first-child {
  margin-top: 0;
}
.section-benefit .item .desc p {
  margin: 0;
}
.section-benefit .item .desc li {
  position: relative;
  margin: 5px 0 0;
}
.section-benefit .item .desc li:first-child {
  margin-top: 0;
}
.section-benefit .item .desc li .price {
  position: absolute;
  top: 0;
  right: 0;
  font-weight: bold;
}
.section-benefit .item.in::before,
.section-benefit .item.in::after {
  right: -30px;
  opacity: 1;
}
.section-benefit .item.in .desc {
  display: block;
}
.section-benefit .action {
  margin-top: 30px;
  text-align: right;
}
.section-title + .section-benefit {
  margin-top: 40px;
}
.section-title + .section-benefit .wrap {
  padding-top: 0px;
}
.section-title + .section-benefit .wrap::before {
  display: none;
}
.section-terms {
  margin-top: 35px;
}
.section-terms .title {
  margin: 0;
  font-size: 20px;
  line-height: 1.5;
  color: #212529;
}
.section-terms .terms-wrap {
  margin-top: 15px;
}
.section-terms .terms-wrap .terms {
  margin-top: 40px;
  padding-top: 40px;
}
.section-terms .terms-wrap .terms::before {
  background-color: #e9ecef;
}
.section-terms .terms-wrap .terms:first-child {
  margin-top: 0;
  padding-top: 50px;
}
.section-terms .terms-wrap .terms:first-child::before {
  background-color: #444b52;
}
.section-terms .terms-wrap .terms .core {
  font-size: 16px;
  color: #212529;
  line-height: 1.88;
}
.section-terms .terms-wrap .terms .desc {
  margin-top: 7px;
}
.section-terms .terms-wrap .terms .desc .item {
  position: relative;
  margin-top: 8px;
}
.section-terms .terms-wrap .terms .desc .item:first-child {
  margin-top: 0;
}
.section-terms .terms-wrap .terms .desc .checks {
  border-radius: 5px;
  border: solid 1px #f1f3f5;
  background-color: #f8f9fa;
}
.section-terms .terms-wrap .terms .desc .checks label {
  padding: 20px 40px;
}
.section-terms .terms-wrap .terms .desc .checks label::before {
  display: none;
}
.section-terms .terms-wrap .terms .desc .checks label::after {
  margin: 0;
  top: 18px;
  left: 10px;
}
.section-terms .terms-wrap .terms .desc .more {
  position: absolute;
  top: 50%;
  right: 15px;
  transform: translate(0, -50%);
}
.section-terms .terms-wrap .terms .desc .more .icon {
  width: 24px;
  height: 24px;
}
.section-terms .terms-wrap .terms .desc .more .icon::before {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -3px 0 0 -3px;
  width: 6px;
  height: 6px;
  transform: rotate(45deg);
  border: solid 1px #989ea4;
  border-left-width: 0;
  border-bottom-width: 0;
}
.section-terms .action {
  margin-top: 20px;
  text-align: right;
}
.section-terms .action a {
  font-weight: 400;
}
.sign-box {
  position: relative;
  height: 200px;
  border: solid 1px #ced4da;
}
.sign-box::before {
  content: '서 명';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  text-align: center;
  line-height: 200px;
  font-size: 40px;
  font-weight: bold;
  color: #e9ecef;
}
.sign-more {
  position: relative;
  margin: 10px 0 30px 0;
  height: 130px;
  border: solid 1px #ced4da;
  background-color: #fff;
}
.sign-more p {
  position: absolute;
  top: 45px;
  left: 0;
  right: 0;
  margin: 0;
  text-align: center;
  font-size: 12px;
  line-height: 1.5;
  color: #adb5bd;
}
.sign-more .more {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: block;
}
.section-sign .sign-box {
  margin-top: 10px;
}
.section-modal-sign .action {
  margin-top: 15px;
  text-align: right;
}
.section-insured {
  margin-top: 40px;
}
.section-insured .wrap {
  padding-top: 40px;
}
.section-insured .summary .title {
  margin: 0;
  font-size: 14px;
  font-weight: 400;
  color: #212529;
}
.section-insured .summary p {
  margin: 5px 0 0;
  color: #636b73;
  font-size: 12px;
}
.section-insured .info {
  margin-top: 20px;
}
.section-insured .info li {
  position: relative;
  margin-top: 10px;
  padding-left: 80px;
}
.section-insured .info li:first-child {
  margin-top: 20px;
}
.section-insured .info .subject {
  position: absolute;
  top: 0;
  left: 0;
  color: #212529;
}
.section-insured .sign-after {
  margin: 30px 0;
  height: 130px;
  border: solid 1px #ced4da;
  background-color: #ffffff;
}
.sign-request {
  margin-top: 25px;
}
.sign-request .summary .core {
  margin: 0;
  font-size: 18px;
  color: #212529;
  line-height: 1.44;
}
.sign-request .summary .desc {
  line-height: 1.43;
}
.sign-request .number {
  position: relative;
  margin-top: 30px;
  padding-top: 30px;
  border-top: 1px #444b52 solid;
}
.sign-request .number .subject {
  position: absolute;
  top: 37px;
  left: 0;
  color: #212529;
}
.sign-request .number input.text {
  padding-left: 100px;
}
.sign-request .action {
  margin: 50px -25px 0 -25px;
}
.sign-request .action .button span {
  font-weight: 400;
}
.section-apply-info .items {
  position: relative;
  margin-top: 40px;
  padding-top: 40px;
}
.section-apply-info .items::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: -30px;
  height: 1px;
  background-color: #e9ecef;
}
.section-apply-info .items:first-child {
  padding-top: 0;
}
.section-apply-info .items:first-child::before {
  display: none;
}
.section-apply-info .title {
  position: relative;
}
.section-apply-info .title h3 {
  margin: 0;
  font-size: 16px;
  font-weight: bold;
  line-height: 1.88;
  color: #212529;
}
.section-apply-info .title a {
  position: absolute;
  bottom: 0;
  right: 0;
}
.section-apply-info ul li {
  margin-top: 10px;
  position: relative;
  padding-left: 80px;
}
.section-apply-info ul li:first-child {
  margin-top: 20px;
}
.section-apply-info ul li .subject {
  position: absolute;
  top: 0;
  left: 0;
  color: #212529;
}
.section-bank .item {
  margin-top: 10px;
}
.section-bank .item:first-child {
  margin-top: 0;
}
.section-bank .checks input[type="radio"] + label {
  position: relative;
  height: 90px;
  padding-left: 20px;
  overflow: hidden;
  color: #636b73;
  border-radius: 5px;
  border: solid 1px #f1f3f5;
  background-color: #f8f9fa;
}
.section-bank .checks input[type="radio"] + label::before {
  left: auto;
  right: 20px;
  width: 24px;
  height: 24px;
  margin-top: -12px;
}
.section-bank .checks input[type="radio"] + label::after {
  left: auto;
  right: 20px;
  display: block;
  margin-top: -12px;
  content: '';
  background-image: url('../img//common/icon_checkbox_off.png');
  width: 24px;
  height: 24px;
  background-size: 24px 24px;
  background-color: transparent;
}
.section-bank .checks input[type="radio"]:checked + label {
  border-color: #212529;
  background-color: #fff;
}
.section-bank .checks input[type="radio"]:checked + label::before {
  background-color: #ffeb00;
  border-color: transparent;
}
.section-bank .checks input[type="radio"]:checked + label::after {
  background-image: url('../img//common/icon_checkbox_on.png');
}
.section-bank .bank {
  display: block;
  margin: 25px 0 10px 0;
  font-size: 18px;
  color: #212529;
}
.section-bank .name {
  position: relative;
  margin-left: 7px;
  padding-left: 14px;
}
.section-bank .name::before {
  content: '|';
  position: absolute;
  top: 50%;
  left: 0;
  color: #ced4da;
  transform: translate(0, -50%);
}
.section-gallery .wrap {
  padding-top: 50px;
  padding-bottom: 40px;
}
.section-gallery ul {
  margin: -20px -6px 0 -6px;
}
.section-gallery ul li {
  position: relative;
  float: left;
  margin: 20px 6px 0 6px;
}
.section-gallery .thumb img {
  height: 59px;
  width: 89px;
}
.section-gallery .close {
  position: absolute;
  top: -8px;
  right: -8px;
}
.section-gallery .close .icon {
  width: 24px;
  height: 24px;
  border: 1px #868e96 solid;
  border-radius: 100%;
  background-color: #fff;
}
.section-gallery .close .icon::before,
.section-gallery .close .icon::after {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  width: 12px;
  height: 1px;
  margin: -1px 0 0 -6px;
  background-color: #868e96;
}
.section-gallery .close .icon::before {
  transform: rotate(45deg);
}
.section-gallery .close .icon::after {
  transform: rotate(-45deg);
}
.section-bill {
  margin-top: 40px;
}
.section-bill .message {
  margin: 40px 0 0;
  font-size: 20px;
  line-height: 1.8;
  color: #212529;
}
.section-bill .file {
  margin-top: 20px;
  text-align: center;
}
.section-bill .action {
  margin-top: 20px;
  text-align: right;
}
.section-my-bill {
  margin-top: 40px;
}
.section-my-bill .count {
  margin: 50px 0 0;
}
.section-my-bill .items {
  margin-top: 20px;
}
.section-my-bill .items .item {
  margin-top: 8px;
  position: relative;
  padding: 0 18px;
  height: 90px;
  border-radius: 5px;
  border: solid 1px #f1f3f5;
  background-color: #fff;
}
.section-my-bill .items .item:first-child {
  margin-top: 0;
}
.section-my-bill .items .item.in {
  border-color: #f1f3f5;
  background-color: #f8f9fa;
}
.section-my-bill .items p {
  margin: 10px 0 0;
}
.section-my-bill .items p:first-child {
  margin-top: 20px;
}
.section-my-bill .items .label {
  color: #868e96;
  background-color: #e9ecef;
}
.section-my-bill .items .label.billing {
  color: #0e1012;
  background-color: #ffeb00;
}
.section-my-bill .items .label.supplement {
  color: #fff;
  background-color: #cc0000;
}
.section-my-bill .items .label.checking {
  color: #fff;
  background-color: #0070cc;
}
.section-my-bill .items .label.examination {
  color: #fff;
  background-color: #48acff;
}
.section-my-bill .items .label.close,
.section-my-bill .items .label.finish {
  color: #fff;
  background-color: #adb5bd;
}
.section-my-bill .items .name {
  font-size: 16px;
  color: #212529;
}
.section-my-bill .items .date {
  color: #868e96;
}
.section-my-bill .items .pipe {
  position: relative;
  width: 18px;
}
.section-my-bill .items .pipe::before {
  content: '|';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  text-align: center;
  color: #ced4da;
}
.section-my-bill .items .utill {
  position: absolute;
  right: 15px;
  top: 45px;
}
.section-my-bill .items .utill a {
  padding: 5px;
  font-weight: 400;
  color: #868e96;
  background-color: transparent;
}
.section-my-bill .items .utill a span {
  padding: 0px 0;
  border-color: #868e96;
}
.section-process .message {
  margin: 0;
  font-size: 16px;
  color: #212529;
  line-height: 1.5;
}
.section-process .process {
  margin-top: 30px;
  padding-top: 55px;
}
.section-process .process li {
  position: relative;
  margin-top: 30px;
  padding-left: 43px;
  color: #0e1012;
  font-size: 16px;
}
.section-process .process li:first-child {
  margin-top: 0;
}
.section-process .process .number {
  position: absolute;
  top: -8px;
  left: 0;
  display: inline-block;
  width: 30px;
  height: 30px;
  background-color: #ffeb00;
  border-radius: 100%;
  color: #0e1012;
  font-weight: bold;
  line-height: 30px;
  text-align: center;
  font-size: 14px;
}
.section-process .process strong {
  position: relative;
  white-space: nowrap;
}
.section-process .process strong::before {
  content: '';
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  height: 8px;
  margin-top: -8px;
  background-color: #e9ecef;
}
.section-process .process strong span {
  position: relative;
}
.section-process .guide {
  margin-top: 35px;
  border-top: 1px #e9ecef solid;
  padding-top: 30px;
  color: #868e96;
  line-height: 1.43;
}
.section-process .guide p {
  margin: 20px 0 0;
}
.section-process .guide p:first-child {
  margin-top: 0;
}
.section-my-info {
  margin-top: 40px;
}
.section-my-info .core p {
  margin: 15px 0 0;
  font-size: 16px;
  color: #212529;
}
.section-my-info .core p span {
  margin-left: 7px;
}
.section-my-info .core p span:first-child {
  margin-left: 0;
}
.section-my-info .desc {
  margin-top: 30px;
}
.section-my-info .desc p {
  margin: 15px 0 0;
}
.section-my-info .desc p:first-child {
  margin-left: 0;
}
.section-my-info .desc a {
  font-weight: 400;
}
.section-account {
  margin-top: 40px;
}
.section-account h3 {
  margin: 40px 0 0;
  color: #212529;
  font-size: 16px;
}
.section-account .items {
  margin-top: 20px;
}
.section-account .items .item {
  position: relative;
  margin-top: 10px;
  padding: 20px;
  border-radius: 5px;
  border: solid 1px #f1f3f5;
  background-color: #f8f9fa;
}
.section-account .items .item:first-child {
  margin-top: 0;
}
.section-account .items .bank {
  margin: 0;
  font-size: 18px;
  color: #212529;
}
.section-account .items .number {
  margin: 15px 0 0;
}
.section-account .items .name {
  margin: 5px 0 0;
}
.section-account .items .utill {
  position: absolute;
  top: 25px;
  right: 20px;
}
.section-account .items .utill a {
  margin-left: 7px;
  background-color: transparent;
  font-size: 12px;
  color: #868e96;
}
.section-account .items .utill a span {
  padding: 0;
  line-height: 1.67;
  border-color: #868e96;
}
body,
td,
th,
font {
  font-size: 14px;
  color: #636b73;
}
p.primary {
  color: #48acff;
}
p.secondary {
  color: #0e1012;
}
p.info {
  color: #868e96;
}
p.warning {
  color: #cc0000;
}
p.danger {
  color: #ff3c3c;
}
p.disabled {
  color: #6a737b;
}
