@charset "utf-8";

/* ==================== GOLBAL ==================== */
/* *{margin:0;padding:0;font-family:dotum,'돋움', Gulim, Arial, Verdana, AppleGothic, sans-serif;} */
*{margin:0;padding:0;font-family:'Malgun Gothic',Dotum, Gulim;}
body{background-color:#fff;color:#666;font-size:12px;line-height:120%;}

ul, ol, li{list-style:none; }
img, hr{border:none;}
img{vertical-align:top; border:0px ;}



/* Link Style */
a:link{text-decoration:none; }
a:visited{text-decoration:none; }
a:active{text-decoration:none; }

/* Table Style */
table{border-collapse:collapse;  border-spacing:0; table-layout:fixed; }
table td img{vertical-align:middle;}

/* tag all font-size set */
a,em,span { color:inherit;  font-family:inherit; font-size:inherit; line-height: inherit; }

/* From Style */
textarea{padding:5px; border: solid 1px #bdbdbd; background-color:#fff;}
input{vertical-align:middle;}
input.txt,
input.text,
input.it{height: 22px; line-height:23px; border: solid 1px #bdbdbd; background-color:#fff;}
input.chk{}
input.radio{}
select          {height: 24px; line-height:24px; border: solid 1px #bdbdbd; background-color:#fff;vertical-align:middle;}
hr, caption     {display:none;}
legend          {position:absolute; height:0; font-size:0px; line-height:0; overflow:hidden; text-indent:-20000px; }
address,cite,em {font-style:normal;}
fieldset        {border:0; padding:0; }
label           {cursor:pointer;}

body{word-wrap:break-word;-webkit-text-size-adjust:none;}
img, fieldset, button{border:none;}
caption{visibility:hidden;line-height:0;}
li, dl, dt, dd{list-style:none;}
textarea{overflow:auto;} 
legend{position:absolute;top:0;left:0;width:0;height:0;overflow:hidden;visibility:hidden;font-size:0;line-height:0;} /* For Screen Reader */ 

/* Color */
.col_blue{color:#0084ff !important;}

/* 메뉴 */
.menutree {
    top: 0px;
    left: 85px;
    overflow: auto;
    position: fixed;
    padding-left: 15px;
    padding-top: 70px;
    padding-right: 7px;
    /* height: 89%; */
    height: 917px;
    width: 200px;
    z-index: 999999999;
    background: #f1f1f1;
    border-right:1px solid #e0e0e0;
    scrollbar-face-color: #cccccc;
    scrollbar-shadow-color: #ffffff;
    scrollbar-highlight-color: #ffffff;
    scrollbar-3dlight-color: #cccccc;
    scrollbar-darkshadow-color: #cccccc;
    scrollbar-track-color: #cccccc;
    scrollbar-arrow-color: #006600;

}

.menutree ul{margin-top:70px; border-top:1px solid #e0e0e0;}
.menutree ul li{padding:13px 0 13px 20px; font-size:14px; color:#464646; border-bottom:1px solid #e0e0e0; cursor:pointer;}
.menutree ul li:hover{background:#bebdbd; color:#fff;}
/*
.menu_2d{position:absolute; z-index:10; background:#f1f1f1; width:170px; height:908px; border-right:1px solid #e0e0e0;}
.menu_2d ul{margin-top:70px; border-top:1px solid #e0e0e0;}
.menu_2d ul li{padding:13px 0 13px 20px; font-size:14px; color:#464646; border-bottom:1px solid #e0e0e0; cursor:pointer;}
.menu_2d ul li:hover{background:#bebdbd; color:#fff;}
*/

/* Button */

.button,
.button *{ color:#fff; position:relative; margin:0; padding:0; display:-moz-inline-stack; display:inline-block; text-decoration:none !important; border:0; font-size:12px; font-family:Tahoma, Sans-serif; font-weight:bold; white-space:nowrap; background:url(/img/button.gif) no-repeat; vertical-align:top; overflow:visible;}
.button { margin-right:4px;}
.button *{ left:4px; cursor:pointer; _cursor:hand;}
.button.default, .button.default *{ height:24px; line-height:24px;background-position:left 0;}
.button.default *{ padding:0 15px 0 10px; background-position:right top;}
.button.end, .button.end *{ height:24px; line-height:24px;background-position:left -30px;float:right;}
.button.end *{ padding:0 15px 0 10px; background-position:right -30px;}

.button *:hover,
.button *:active,
.button *:focus{ color:#ececec ;font-weight:bold;}

.bt_right{clear:both; text-align:right; margin-top:20px; margin-bottom:7px;}
.bt_right_line{clear:both; text-align:right; padding:15px 20px 0 20px; border-top:1px dashed #ddd; margin-top:30px; margin-bottom:7px;}

.logout{display:inline-block; cursor:pointer; *display:inline; zoom:1; background:#c7c5c5; border-radius:4px; padding:8px 13px;}
.logout:active{background:#3755a0;}
.bt_car{display:inline-block; cursor:pointer; *display:inline; zoom:1; background:#e9545a url(/img/car.png)no-repeat right 50%; border-radius:4px; height:30px; padding:10px 100px 0 12px; color:#fff; font-size:15px;}
.bt_car:active{background:#3755a0 url(/img/car.png)no-repeat right 50%;}
.bt_select{display:inline-block; cursor:pointer; *display:inline; zoom:1; background:#c7c5c5 url(/img/i_view.png)no-repeat right 50%; border-radius:4px; height:30px; padding:10px 42px 0 12px; color:#fff; font-size:15px;}
.bt_select:active{background:#3755a0 url(../img/i_view.png)no-repeat right 50%;}
.bt_login{background:#3755a1; padding:13px 0; text-align:center; width:100%; border:1px solid #223b78; border-radius:4px; color:#fff; font-size:15px; font-weight:bold; margin-top:29px; display:inline-block; cursor:pointer; *display:inline; zoom:1;}
.bt_pw_G{background:#4a4a4a; height:28px; padding-top:9px; font-size:13px; color:#fff; font-weight:bold; text-align:center; width:121px; display:inline-block; cursor:pointer; *display:inline; zoom:1;}
.bt_pw_B{background:#3755a1; height:28px; padding-top:9px; font-size:13px; color:#fff; font-weight:bold; text-align:center; width:121px; display:inline-block; cursor:pointer; *display:inline; zoom:1;}
.bt_ok{background:#4a4a4a; height:28px; padding:9px 20px 0 20px; font-size:13px; color:#fff; font-weight:bold; display:inline-block; cursor:pointer; *display:inline; zoom:1; float:right;}
.bt_home{background:#3755a1; padding:13px 0; text-align:center; width:100%; color:#fff; font-size:15px; font-weight:bold; margin-top:15px; display:inline-block; cursor:pointer; *display:inline; zoom:1;}
.bt_save{background:#3755a1; padding:8px 20px; font-size:13px; color:#fff; font-weight:bold; display:inline-block; cursor:pointer; *display:inline; zoom:1;}
.bt_cancel{background:#4a4a4a; padding:8px 20px; font-size:13px; color:#fff; font-weight:bold; display:inline-block; cursor:pointer; *display:inline; zoom:1;}
.bt_glay_S{background:#4a4a4a; padding:5px 13px; font-size:12px; color:#fff; display:inline-block; cursor:pointer; *display:inline; zoom:1;}
.bt_glay2_S{border:1px solid #cacaca; padding:4px 13px; font-size:12px; color:#555; display:inline-block; cursor:pointer; *display:inline; zoom:1;}
.bt_glay2_S:active{background:#cacaca;}
.bt_blue_S{background:#3755a1; padding:5px 13px; font-size:12px; color:#fff; display:inline-block; cursor:pointer; *display:inline; zoom:1;}

/* ==================== 2014 08 06 ==================== */
.k-treeview.k-widget {
    color:#fff !important;
/*     font-weight:bold; */
    line-height: 23px ;
}

.k-treeview .k-icon{
	background-color: white !important; 
}

/* ==================== Layout ==================== */
/* #header{position:relative;background:url(/img/bg_header.gif) repeat-x;height:35px;z-index:10000;} */
#header{position:fixed;top:0px;width:1280px;height:70px;z-index:900;background-color: #fff; }


#container{position:relative;width:100%;}/*tab_bro 하단*/

/* iframe body{background-color: #F8F8F8;} */
/* iframe body{background-color: #F8F8F8;} */

/* #contents{position:relative;left:95px;width:1125px;padding-top:20px;padding-bottom:20px;} */
#contents {
    position: relative;
    /* padding-bottom: 20px; */
    /* padding-top:20px; */
    /* width: 100%; */
    width: 1280px;
    min-height: 787px;
    margin-top: 119px;
    box-sizing: border-box;
    padding-left: 95px;
    padding-right: 20px;
    min-width: 1125px;
    background-color: #F8F8F8;
    border-bottom: 0;
    border-top: 0;
    border-right: 1px solid #dddddd;
    overflow: visible;
}

/* 
#footer{position:fixed;width:1280px;height:24px;background-color:#e5e5e5;bottom:0;background:none rgba(205, 205, 205, 0.42)}
#footer p{text-align:center;padding-top:5px;font-size:11px;color:#999;font-family:Tahoma;padding-left:75px;}
 */
/* #footer{width:1280px;height:24px;background-color:#F8F8F8;} */
/* #footer{width:1280px;height:24px;background-color:#fff;} */
#footer{width:1279px;height:80px;background-color:#F8F8F8; border-right:1px solid #dddddd; border-bottom: 1px solid #dddddd;}
#footer p{text-align:center;padding-top:32px;font-size:11px;color:#999;font-family:Tahoma;padding-left:75px;}

/* ==================== Title ==================== */
h1  {height:45px;}
h2  {font-family: "dotum", Arial, sans-serif; font-size:16px; color:#000; font-weight:bold;margin-top:30px;margin-bottom:20px;}
h3  {font-family: "dotum", Arial, sans-serif; font-size:16px; color:#000; font-weight:bold;margin-top:30px;margin-bottom:20px;background:url(/img/bullet_h3.png) no-repeat;padding-left:14px;letter-spacing:-1px;}

/* ==================== hr ==================== */
.h15 {display:block;height:15px;}
.h20 {display:block;height:20px;}
.h25 {display:block;height:25px;}
.h30 {display:block;height:30px;}

/* ==================== Header ==================== */
#header .logo{position:absolute;left:0;top:4px;font-size:12px;font-weight:bold;color:#e7e7e7;width:140px;padding-left:10px;z-index:9000;}
#header .info{position:absolute; left: 100px; top:10px; margin-right: 20px;}
#header .info .admin{color:#898989}
#header a{color:#e7e7e7;}
#header .info li{color:#e7e7e7;font-size:16px;float:left; margin-left:20px;}
#header .logout{display:inline-block; cursor:pointer; *display:inline; zoom:1; background:#c7c5c5; border-radius:4px; padding:8px 13px;}
/* #header .belong{left: 100px; width:48%; color:#898989; font-size:16px;  margin-top:18px; margin-left:100px;} */
/* #header .belong{width:48%; color:#898989; font-size:16px;  margin-top:18px; margin-left:100px; float:left;} */
/* #header .belong{color:#898989; font-size:16px;  margin-top:7px; margin-left:100px; float:left;} */
#header .belong{color:#898989; font-size:16px;  margin-top:20px; margin-left:105px; float:left;}
#header .belong span{color:#2d2d2d; font-size:20px; font-weight:600;}
/* #header .t_bts{width:48%; text-align:right; right:20px; margin-top:14px; margin-right:20px;} */

/* style.css index_test.jsp 에 그냥 붙이니까 깨져서 주석처리
#header .t_bts{text-align:right; right:20px; margin-top:14px; margin-right:20px;}
*/

/* ==================== search ==================== */
#search {background:url(/img/search_bg_top.jpg) no-repeat left top;width:100%;padding-top:2px;}
#search .se_bg {background:url(/img/search_bg_3.jpg) no-repeat left bottom;padding-bottom:4px;}
#search .se_bg table {margin:10px 20px 10px 20px;}
#search .se_bg table tr th {padding-right:10px;height:28px;font-weight:normal;text-align:left;color:#222;}
#search .se_bg table tr td {padding-right:15px;}
#search .se_bg table tr td.line {width:2px;background:url(/img/img_search_line.png) repeat-y;padding-right:10px;text-indent:-9999px;}

/* ==================== grid ==================== */
#refer {font-size:11px;margin-top:15px;background:url(/img/bullet_star.png) repeat-y 0px 2px;padding-left:15px;line-height:140%;color:#777;}
#search_above {padding-bottom:5px;font-size:11px;color:#999;}

#grid {width:100% !important;}


/* ==================== Tab ==================== */

#tab_bro{position:fixed;top:71px;left:0px;width:1279px;height:48px;background-color:#f8f8f8;z-index: 998;border-right: 1px solid #dddddd;}
#tab_bro .tab{padding-top:15px;position:relative;left:104px;width:100%;}
/* #tab_bro .tab ul li {letter-spacing:-1px;font-weight:bold;height:21px;padding:8px 3px 0 17px;float:left;width:auto;text-align:center;border-top:1px solid #5f676f;border-right:1px solid #5f676f;border-left:1px solid #5f676f;border-bottom:1px solid #bfc5cb;background:#bfc5cb;} */
#tab_bro .tab ul li {letter-spacing:-1px;height:25px;padding:11px 3px 0 17px;float:left;width:auto;text-align:center;background:#F7F7F7; border:1px solid #ddd;border-bottom:none;border-top-left-radius:4px; border-top-right-radius:4px; color:#868686;font-size:13px;}
/*style.css 참고 삭제예정 .con_tab li{display:inline-block; background:#f7f7f7; border:1px solid #ddd; border-bottom:none; padding:0 15px; height:28px; padding-top:8px; border-top-left-radius:4px; border-top-right-radius:4px; color:#868686; font-size:13px;}*/
#tab_bro .tab ul li a{padding-right:10px;}
#tab_bro .tab ul li:hover {color:#000;}

#tab_bro .tab ul li img {padding-left:20px;}

#tab_bro .tab ul li span {float:right;margin-right:auto;margin-top:2px;}
/* #tab_bro .tab ul li.sel{background:#fff;color:#000;font-weight:bold;border:1px solid #fff !important;z-index:1000;} */
#tab_bro .tab ul li.sel{height: 25px; background-color:#fff;color:#252525; font-size:13px; border:1px solid #ddd; border-bottom:none; border-top-left-radius:4px; border-top-right-radius:4px;z-index:1000; }
/*style.css 참고 삭제예정 .con_tab li{display:inline-block; background:#f7f7f7; border:1px solid #ddd; border-bottom:none; padding:0 15px; height:28px; padding-top:8px; border-top-left-radius:4px; border-top-right-radius:4px; color:#868686; font-size:13px;} */
#tab_bro .tab ul li.sel span {float:right;padding:0px 0px 0 5px;}


/* ==================== gnb ==================== */
#gnb{position:fixed;left:0px;top:0px; background:#f8f8f8 url(../img/bg_menu.png) repeat-y; width:85px;min-height:987px;z-index: 1999;}
/* #gnb ul{margin-top:35px;} */
/* #gnb ul li{height:75px;cursor:pointer;text-indent:-10000px;} */
/* 게시판 */
#gnb .board {
	/* margin-top: 5px; */
    background: url(/img/gnb_perform.png) no-repeat left top;
    height: 75px;
    cursor: pointer;
    text-indent: -10000px;
} /* TODO : background 아이콘 교체 */

#gnb .board:hover {
	/* margin-top: 5px; */
    background: url(/img/gnb_perform_up.png) no-repeat left top;
    height: 75px;
    cursor: pointer;
    text-indent: -10000px;
} /* TODO : background 아이콘 교체 */

/* 수수료 */
#gnb .billing {
/*	margin-top: 35px; */
	background: url(/img/gnb_billing.png) no-repeat left top;
	height: 75px;
	cursor: pointer;
	text-indent: -10000px;
}
#gnb .billing:hover {
/*	margin-top: 35px; */
	background: url(../img/gnb_billing_up.png) no-repeat left top;
    height: 75px;
    cursor: pointer;
    text-indent: -10000px;
}

/* 시스템관리 */
#gnb .insa {
	background: url(/img/gnb_admin.png) no-repeat left top;
    height: 75px;
    cursor: pointer;
    text-indent: -10000px;
}

#gnb .insa:hover {
	background: url(/img/gnb_admin_up.png) no-repeat left top;
    height: 75px;
    cursor: pointer;
    text-indent: -10000px;
}

/* 시스템관리 */
#gnb .admin {
	background: url(/img/gnb_admin.png) no-repeat left top;
    height: 75px;
    cursor: pointer;
    text-indent: -10000px;
}

#gnb .admin:hover {
	background: url(/img/gnb_admin_up.png) no-repeat left top;
    height: 75px;
    cursor: pointer;
    text-indent: -10000px;
}

/* 영업실적관리 */
#gnb .perform {
    background: url(/img/gnb_perform.png) no-repeat left top;
    height: 75px;
    cursor: pointer;
    text-indent: -10000px;
}

#gnb .perform:hover {
    background: url(/img/gnb_perform_up.png) no-repeat left top;
    height: 75px;
    cursor: pointer;
    text-indent: -10000px;
}

/* 계약관리 */
#gnb .contract {
    background: url(/img/gnb_perform.png) no-repeat left top;
    height: 75px;
    cursor: pointer;
    text-indent: -10000px;
} /* TODO : background 아이콘 교체 */

#gnb .contract:hover {
    background: url(/img/gnb_perform_up.png) no-repeat left top;
    height: 75px;
    cursor: pointer;
    text-indent: -10000px;
} /* TODO : background 아이콘 교체 */

/* 게시판 */
#gnb .customer {
    background: url(/img/gnb_perform.png) no-repeat left top;
    height: 75px;
    cursor: pointer;
    text-indent: -10000px;
} /* TODO : background 아이콘 교체 */

#gnb .customer:hover {
    background: url(/img/gnb_perform_up.png) no-repeat left top;
    height: 75px;
    cursor: pointer;
    text-indent: -10000px;
} /* TODO : background 아이콘 교체 */

/* 시스템 */
#gnb .system {
    background: url(/img/gnb_perform.png) no-repeat left top;
    height: 75px;
    cursor: pointer;
    text-indent: -10000px;
} /* TODO : background 아이콘 교체 */

#gnb .system:hover {
    background: url(/img/gnb_perform_up.png) no-repeat left top;
    height: 75px;
    cursor: pointer;
    text-indent: -10000px;
} /* TODO : background 아이콘 교체 */

/* 영업지원 */
#gnb .support {
    background: url(/img/gnb_perform.png) no-repeat left top;
    height: 75px;
    cursor: pointer;
    text-indent: -10000px;
} /* TODO : background 아이콘 교체 */

#gnb .support:hover {
    background: url(/img/gnb_perform_up.png) no-repeat left top;
    height: 75px;
    cursor: pointer;
    text-indent: -10000px;
} /* TODO : background 아이콘 교체 */

#gnb .more {
	background: url(/img/gnb_more.png) no-repeat left top;
    height: 75px;
    cursor: pointer;
    text-indent: -10000px;
}

#gnb ul.gmenu{text-align:center;}
/* #gnb ul.gmenu li{font-size:11px; color:#cbe3fd; height:60px; cursor:pointer;} */
#gnb ul.gmenu li{font-size:11px; color:#cbe3fd; width:100%; height: 69px; cursor:pointer; display: table;}
#gnb ul.gmenu li nobr{font-size:11px; color:#cbe3fd; width:100%; cursor:pointer; text-align: center; display: table-cell; padding-top: 43px;}
#gnb ul.gmenu li:hover{color:#fff;}
#gnb ul.gmenu li.m01{background:url(../img/menu.png) no-repeat; background-position:0 -5px;}
#gnb ul.gmenu li.m01:hover{background:#2e4579 url(/img/menu.png) no-repeat; background-position:-85px -5px;}
#gnb ul.gmenu li.m02{background:url(../img/menu.png) no-repeat; background-position:0 -65px;}
#gnb ul.gmenu li.m02:hover{background:#2e4579 url(/img/menu.png) no-repeat; background-position:-85px -65px;}
#gnb ul.gmenu li.m03{background:url(../img/menu.png) no-repeat; background-position:0 -125px;}
#gnb ul.gmenu li.m03:hover{background:#2e4579 url(/img/menu.png) no-repeat; background-position:-85px -125px;}
#gnb ul.gmenu li.m04{background:url(../img/menu.png) no-repeat; background-position:0 -185px;}
#gnb ul.gmenu li.m04:hover{background:#2e4579 url(/img/menu.png) no-repeat; background-position:-85px -185px;}
#gnb ul.gmenu li.m05{background:url(../img/menu.png) no-repeat; background-position:0 -245px;}
#gnb ul.gmenu li.m05:hover{background:#2e4579 url(/img/menu.png) no-repeat; background-position:-85px -245px;}
#gnb ul.gmenu li.m06{background:url(../img/menu.png) no-repeat; background-position:0 -305px;}
#gnb ul.gmenu li.m06:hover{background:#2e4579 url(/img/menu.png) no-repeat; background-position:-85px -305px;}
#gnb ul.gmenu li.m07{background:url(../img/menu.png) no-repeat; background-position:0 -365px;}
#gnb ul.gmenu li.m07:hover{background:#2e4579 url(/img/menu.png) no-repeat; background-position:-85px -365px;}
#gnb ul.gmenu li.m08{background:url(../img/menu.png) no-repeat; background-position:0 -425px;}
#gnb ul.gmenu li.m08:hover{background:#2e4579 url(/img/menu.png) no-repeat; background-position:-85px -425px;}



/* ==================== menu ====================*/
.menu {position:absolute;top:35px;left:75px;height:100%;background:url(/img/gnb_bg_2.png) repeat-y right top;z-index: 1;}
/* .menu ul{margin-top:20px;min-width:150px;} */
/* .menu ul li{ */
/*     background:url(/img/bullet_1.png) no-repeat scroll 12px 4px ;  */
/*     height:15px !important; */
/*     color: #fff !important;  */
/*     font-size: 12px;  */
/*     padding: 0 25px 10px 20px;  */
/*     font-weight:bold; */
/*     word-spacing:-1px; */
/*     text-indent:0px !important; */
/* } */
/* .menu ul li a{color:#fff !important;} */
/* .menu ul li a:hover{color:#00b4ff !important;}  */


/* ==================== logout ==================== */

#logout_bg {background-image:url(/img/logout_bg.jpg);background-repeat:repeat-x;background-color:#1d1e20;padding:0;margin:0;"}
.logout_1 {margin:0 auto;width:621px;height:267px;background-image:url('/img/logoout_img.jpg');padding-top:300px;text-align:center;"}
.logout_2 {margin:0 auto;font-size:11px;color:#ccc;width:600px;}



    /* ==================== menu 140526 ====================*/  

/* .menu { */
/*  position:absolute; */
/*  top: 35px; */
/*  left: 75px; */
/*  height: 100%; */
/*  background: url(/img/gnb_bg_2.png) repeat-y right top; */
/* } */
/* .menu ul{margin-top:20px;} */
/* .menu ul li { */
/*  background: url(/img/bullet_1.png) no-repeat scroll 12px 4px; */
/*  color: #fff; */
/*  font-size: 12px; */
/*  padding: 0 25px 10px 20px; */
/*  font-weight: bold; */
/*  word-spacing: -1px; */
/*  height:15px !important; */
/*  text-indent: 0px !important; */
/* } */

/* .menu ul li a{color:#fff;} */
/* .menu ul li a:hover{color:#00b4ff;} */






/* ######### Drop Down DIVs CSS ######### */
.ddsubmenustyle,.ddsubmenustyle div {
    /*topmost and sub DIVs, respectively*/
    margin: 0;
    padding: 0;
    position: absolute;
    left: 0;
    top: 0;
    list-style-type: none;
    background: url(../img/gnb_bg_1.png) repeat-y left top;
    border: 0;
    visibility: hidden;
    z-index: 100;
}

.ddsubmenustyle ul {
    position: fixed;
    height: 100%;
}

.ddsubmenustyle ul li {
    border: 5px solid #ff0000;
    margin-top: 100px;
    margin-left: 100px;
}

.ddsubmenustyle li a {
    display: block;
    width: 135px; /*width of menu (not including side paddings)*/
    color: white;
    text-decoration: none;
}

.ddsubmenustyle li a:hover {
    border: 1px solid #ff0000;
}

/* ######### Marker List Vertical Menu ######### */
.markermenu {
    width:; /*width of side bar menu*/
    clear:;
    position:;
    /*Preserve this for "right" arrow images (added by script) to be positioned correctly*/
}

.markermenu ul {
    list-style-type:;
    margin:;
    padding:;
    border:;
}

.markermenu ul li a {
    display: block;
    height: 75px;
}



/* ######### Customized Drop Down ULs CSS (inherits from ddlevelsmenu-base.css) ######### */
.blackwhite li a {
    background: white;
}

.blackwhite li a:hover {
    background: black;
    color: white;
}


#wrap {width:1280px; margin:0px ;padding: 0;}


div .k-content{
    border:0  !important;
}

/* .k-state-active{ */
/*  width:0px; */
/* } */


.tabHeader{
    background: red;
    color:white;
    text-align: left;
    font-weight: bold;
    vertical-align: bottom;
    width: 150px;
}

.staticNoti {
	position: absolute;
	z-index:9999999999;
	width:300px;
    left: 500px;
    background-color:transparent;
	top: 0;
	height: 100%;
	overflow: auto;
	float: right;
}